@import url("../css/style.css");

main {
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#background {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 1.25rem;
  background-color: #2e8b57b3;
  width: 25.625rem;
  height: 19.32056rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  justify-content: center;
}

#thumbnails {
  justify-content: center;
  display: flex;
  width: 21.25rem;
  height: 4rem;
}

#left,
#thumbnail1,
#thumbnail2,
#thumbnail3,
#right {
  justify-content: center;
  padding: 0.2rem;
  margin-bottom: 1rem;
}

body > main > section + article {
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background-color: #2e8b57b3;
  box-shadow: 0px 4px 4px 0px #00000040;
}

article > h1 {
  padding: 0.5rem;
}
article > h2 {
  padding: 0.5rem;
  margin-left: 3rem;
}

article > div > p {
  padding: 0.5rem;
  line-height: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

body > main > article + section {
  margin-left: 0.5rem;
  padding: 0.5rem;
  width: 18.875rem;
  margin-top: 2rem;
  background-color: #2e8b57b3;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

body > main > article + section > p {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > main > section + section {
  margin-top: 2rem;
  padding: 0.5rem;
  width: 18rem;
  margin-left: 0.5rem;
  border-radius: 1.25rem;
  background-color: #2e8b57b3;
  box-shadow: 0px 4px 4px 0px #00000040;
}

body > main > section + section > p {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

body > main > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

body > main > div > button{
  margin-top: 1rem;
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  background-color: #2e8b57b3;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 100%;
}

body > main > div > button > img {
  padding: 0.7rem;
}

.btn_float{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}