@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans;
  color: #d9d9d9;
}

h1 {
  font-weight: 700;
  font-size: 1.55rem;
}

h2 {
  font-weight: 600;
}

#preco {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

body {
  background-color: #afdfae;
}

body > header {
  background-color: #2e8b57;
}

#final {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

#login {
  width: 3.5rem;
  height: 5rem;
  fill: #d9d9d9;
  margin-right: 0.5rem;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Logo {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.Perfil {
  margin-top: 0.5rem;
  color: #d9d9d9;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

nav {
  background-color: #46a971;
  color: #d9d9d9;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.5rem;
}

.link {
  color: #d9d9d9;
  text-decoration: none;
}